<!DOCTYPE html>
{% load static %}
{% load math_filters %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Favourites</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap">
    <link rel="stylesheet" href="{% static 'dashboard/css/favourites.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="{% static 'dashboard/images/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
</head>
<body>
<div class="sidebar">
    <div class="top">
        <div class="logo">
            <i class='bx bx-tennis-ball'></i>
            <span>TennisApp</span>
        </div>
        <i class="bx bx-chevron-right" id="btn"></i>
    </div>
    <div class="user">
        <img src="{% static 'dashboard/images/user.jpg' %}" class="user-img" alt="user-image">
        <div>
            <p class="bold">Your name</p>
            <p>Admin</p>
        </div>
    </div>
    <ul>
        <li>
            <a href="{% url 'dashboard' %}">
                <i class='bx bx-home-alt'></i>
                <span class="nav-item">Home</span>
            </a>
            <span class="tooltip">Home</span>
        </li>
        <li>
            <a href="{% url 'favourites' %}">
                <i class='bx bx-heart'></i>
                <span class="nav-item">Favourites</span>
            </a>
            <span class="tooltip">Favourites</span>
        </li>
        <li>
            <a href="{% url 'account' %}">
                <i class='bx bx-user'></i>
                <span class="nav-item">Account</span>
            </a>
            <span class="tooltip">Account</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-cog'></i>
                <span class="nav-item">Settings</span>
            </a>
            <span class="tooltip">Settings</span>
        </li>
        <li>
            <a href="#" id="logoutLink">
                <i class='bx bx-log-out'></i>
                <span class="nav-item">Logout</span>
            </a>
            <form id="logoutForm" action="{% url 'logout' %}" method="post" style="display: none;">
                {% csrf_token %}
            </form>
            <span class="tooltip">Logout</span>
        </li>
    </ul>
</div>
<div class="header">
    <img src="{% static 'dashboard/images/login_half_page.jpg' %}" class="profile-img" alt="tennis">
    <div class="header-text">Favourites</div>
</div>
<div class="main-content">
    <a href="{% url 'add_favourite' %}" class="add-another-player">Add Another Favourite</a>
    <div class="container">
        {% for favorite in user_favorites %}
        <div class="container-left">
            <div class="container-left-top">{{ favorite.player.name }}</div>
            <hr class="container-left-divider">
            <div class="container-left-bottom card">
                <div class="simple-data">Height: {{ favorite.player.height }} ; Rank: {{ favorite.player.ranking }}
                </div>
                <div class="simple-data">Country: {{ favorite.player.country }}</div>
                <div class="simple-data">Birth Date: {{ favorite.player.date_of_birth }}</div>
                <div class="links-to-data card-content">
                    <div class="data btn-open-popover">Career</div>
                    <div class="data btn-open-stats">Statistics</div>
                </div>
                <div class="popover">
                    <!-- mathces -->
                    <div class="career-content">
                        <div><h3>Last Played Matches of {{ favorite.player.name }}</h3></div>
                        <div class="matches">
                            {% for match in matches %}
                            {% if match.player.name == favorite.player.name %}
                            {% if match.name == "Not available" %}
                            <div class="match">
                                <div>
                                    Played in {{ match.location }}. <br>
                                    {{ match.surface }}, Date: {{ match.date }}
                                </div>
                                <hr class="container-left-divider little-space">
                                <div>
                                    <div>{{ match.opponent_player }} (rank: {{ match.opponent_rank }})</div>
                                    <table class="width-table">
                                        <tr>
                                            <th>Round</th>
                                            <th>Result</th>
                                            <th>Score</th>
                                        </tr>
                                        <tr>
                                            <td>{{ match.round }}</td>
                                            <td>{{ match.result }}</td>
                                            <td class="match-score">{{ match.score }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            {% else %}
                            <div class="match">
                                <div>
                                    Played at {{ match.name }}, in {{ match.location }}. <br>
                                    {{ match.surface }}, Date: {{ match.date }}
                                </div>
                                <hr class="container-left-divider little-space">
                                <div>
                                    <div>{{ match.opponent_player }} (rank: {{ match.opponent_rank }})</div>
                                    <table class="width-table">
                                        <tr>
                                            <th>Round</th>
                                            <th>Result</th>
                                            <th>Score</th>
                                        </tr>
                                        <tr>
                                            <td>{{ match.round }}</td>
                                            <td>{{ match.result }}</td>
                                            <td class="match-score">{{ match.score }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <button class="btn-close-popover">Close</button>
                </div>

                <div class="popover-stats">
                    <div class="career-content">
                        <div><h3>Stats of {{ favorite.player.name }}</h3></div>
                        <div class="matches">
                            {% for stat in stats %}
                            {% if stat.player.name == favorite.player.name %}
                            <div class="match">
                                <div>
                                    {% if stat.hand == "R" %}
                                    {{ stat.player.name }} is right-handed. <br>
                                    {% else %}
                                    {{ stat.player.name }} is left-handed.
                                    {% endif %}
                                </div>
                                <hr class="container-left-divider little-space">
                                She last played a match when she was {{ stat.age }} years old. <br>
                            </div>
                            <div class="match">
                                Percentage of matches won in the last six months:
                                <h3> {{ stat.wins_semester|percentage:stat.losses_semester }}% </h3>
                                (a percentage of 0 or close to that may mean the player did not play many or any matches
                                in the last six months)
                            </div>
                            <div class="match">
                                Percentage of matches won in the last year:
                                <h3> {{ stat.wins_year|percentage:stat.losses_year }}% </h3>
                                (a percentage of 0 or close to that may mean the player did not play many or any matches
                                in the last year)
                            </div>
                            <div class="match">
                                Percentage of matches won on Clay:
                                <b> {{ stat.wins_clay|percentage:stat.losses_clay }}% </b> <br>
                            </div>
                            <div class="match">
                                Percentage of matches won on Grass:
                                <b> {{ stat.wins_grass|percentage:stat.losses_grass }}% </b>
                                <br>
                            </div>
                            <div class="match">
                                Percentage of matches won on Hard:
                                <b> {{ stat.wins_hard|percentage:stat.losses_hard }}% </b>
                                <br>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <button class="btn-close-stats">Close</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>

<script>
    let sidebar = document.querySelector(".sidebar")
    let btn = document.querySelector("#btn")

    btn.onclick = function () {
        sidebar.classList.toggle("active")
    };
</script>
<script src="{% static 'dashboard/js/logout.js' %}"></script>
<script src="{% static 'dashboard/js/favourites.js' %}"></script>

</html>
